/*css Madhave*/
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color:white;
    text-align:center ;
    font-family: monospace;
    animation-name: bodyAnmtn;
    animation-duration: 2s;
}

@keyframes bodyAnmtn {
    0% {
        opacity: 0.1;
    }
}

h1 {
    width: 100%;
    text-align: center;
    color: white;
}

table {
    position: relative;
    margin: auto;
    border-collapse: collapse;
}

input {
    height: 100%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    font-family: inherit;
}

td {
    height: 30px;
    width: 30px;
    border: 0px solid #000;
}

button {
    position: relative;
    height: 25px;
    width: 160px;
    margin: 5px;
    text-align: center;
    font-weight:bold;
    font-size:13PX;
    color:white;
    background-color:black;
    Border:1px solid white ;
    font-family: inherit;
}

.btnBl:hover {
    background-color:blue;
    transition:0.5s;
}
.btnClr:hover {
    background-color:red;
    transition:0.5s;
}
.btnGrn:hover {
    background-color:green;
    transition:0.5s;
}

span {
    font-size: 20px;
    animation-duration: unset;
}

.spacer {
    width:7px;
    height:5px;
}

